body{
    background-image: url('../my-first-project/images/restaurant.jpg');
    background-size: cover;
    background-color: #352323;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    background-blend-mode: multiply;
}
.intro{
 text-align: center;
 padding-top: 170px;
 color: aliceblue;
 font-size: 60px;
}
nav {
    background-color: #c47623; /* Background color of the navbar */
    overflow: hidden; /* Prevents overflow issues */
    padding: 20px 20px;
}

nav ul {
    list-style-type: none; /* Removes bullet points */
    margin: 1%;
    padding: 0;
    text-align: center; /* Center the navigation links */

}

nav li {
    display: inline-block; /* Display links horizontally */
    padding-top: 100px;
}

nav a {
    display: block; /* Make the entire link clickable */
    color:#352323; /* Text color */
    text-align: center;
    padding: 20px; /* Padding around the text */
    text-decoration:dotted; /* Removes underline */
}

nav a:hover {
    color: bisque;
}
nav h1 {
    float: left;
    padding-top: 15px;
    font-size: 50px;
    color: #352323;
}
nav .current{
    color: bisque;
}
.head{
    color: #c47623;
    padding: 64px 64px;;
}
p{
    color: aqua;
    display: inline-flex;
    text-align: center;
}