body{
background-color: #352323;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
 text-align: center;
}
nav {
    background-color: #c47623; /* Background color of the navbar */
    overflow: hidden; /* Prevents overflow issues */
}

nav ul {
    list-style-type: none; /* Removes bullet points */
    margin: 1%;
    padding: 0;
    text-align: center; /* Center the navigation links */

}

nav li {
    display: inline-block; /* Display links horizontally */
}

nav a {
    display: block; /* Make the entire link clickable */
    color:#352323; /* Text color */
    text-align: center;
    padding: 20px; /* Padding around the text */
    text-decoration:dotted; /* Removes underline */
}

nav a:hover {
    color: bisque;
}
nav h1 {
    float: left;
    padding-top: 15px;
}
nav .current{
    color: bisque;
}
.paragraph1{
    text-align: center;
}
#showcase{
    background: url();
}